@page
@model PatientDetailModel
@using Hl7.Fhir.Model;
@using Hl7.Fhir.ElementModel;
@using Hl7.Fhir.Serialization;
@using Newtonsoft.Json.Linq;
@using Formatting = Newtonsoft.Json.Formatting;

<h1>@ViewData["Title"]</h1>

@if (ViewData["PatientDetail"] != null)
{
    var pData = ((Patient)ViewData["PatientDetail"]);
    var pDataJson = pData.ToJson();
    var jsonFormatted = JValue.Parse(pDataJson).ToString(Formatting.Indented);

<div style="float: left; font-size:  16px;  width: 800px; word-break: break-all; word-wrap: break-word;">

    <pre>
        @jsonFormatted

    </pre>
</div>

}